# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# База данных
*.db
*.sqlite
*.sqlite3

# Секреты и конфиги
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Логи
*.log

# Amvera
amvera.yml
